extends layout

block content
    div(data-role='content')
        ul( data-role='listview' )
            - each beer in beers
                li
                    h3 #{beer.drink_name}
                    img(src=beer.url)
