extends layout

block content
    div(data-role='content')
        ul( data-role='listview' )
            - each beer in beers
                li
                    a(href='/beer/')
                        h2 #{beer.drink_name}
                        p #{beer.textarea}
                        img(src=beer.url)
