doctype 5
html
    head
        body
            div
                form(action='/signup',method='post')
                    label(for='name') name
                                input(id='name',type='text',value='',name='email')
                    label(for='password') password
                                input(id='password',type='password',value='',name='password')