extends layout

block content
  div(data-role="content")
    div(class="ui-grid-a brewery")
      div(class="ui-block-a")
        img(src='/images/chet_manley.jpg',class="profile_view")
      div(class="ui-block-b")
        h1 Chet Manley
    h2 Badges 
    ul(data-role='listview',data-inset='true')
      li Chinook Pale Ale
      li Double White Ale
